= include_gon
= javascript_include_tag 'calendar.js'
.row
	.col-lg-10.col-lg-offset-1#calendar-schedules
.row
	.col-lg-3.col-lg-offset-1
		.new-schedule
			= simple_form_for @new_schedule do |f|
				.inputs
					= f.association :employment, label: "Clinic", collection: @employments, include_blank: false,
						label_method: lambda { |employment| "#{employment.clinic.name}" }
					= f.input :weekday, collection: %w(Mon Tue Wed Thu Fri Sat Sun), include_blank: false
					= f.input :begins_at, as: :hour
					= f.input :ends_at, as: :hour
				.actions
					= f.button :submit