!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon
    = javascript_include_tag 'application.js'
    = stylesheet_link_tag 'fullcalendar.css'
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.js'
    = javascript_include_tag 'calendar.js'

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      = render 'layouts/navbar'
    .container           
      .row
        .col-lg-10.col-lg-offset-1.flash-message
          - flash.each do |type, messages|
            .alert{ class: bootstrap_class_for(type)}
              - if messages.is_a? Array
                - messages.each do |message|
                  = message
                  .br
              - else
                = messages

      = yield
    / # = debug(params) if Rails.env.development?
