= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :firstname, autofocus: true
    = f.input :lastname
    = f.input :password
    = f.input :password_confirmation
    = f.input :address
    = f.input :pesel
  .form-actions
    .centered{:style => 'text-align: center'}
      = f.button :submit, "Save", class: "btn-lg btn-primary"